$font-default: "Inter", sans-serif;






// Color


:root {
    --primary-color: #006D6F;
    --secondary-color: #CCDFE0;
    --danger-color: #D1293D;

    --diwy-blue: #006D6F;
    --text-blue: #006D6F;
    --text-color: #5A6068;
    --white-color: #ffffff;
    --grey-color: #C4C4C4;
    --dark: #0F2A44;
}